/* --------Main Div class-------- */

.maindiv{
    max-width: 95vw;
    margin-left: 3rem;
    height: 100%;
    /* height: 80vh; */
}

.height_cls {
    min-height: 45rem;
    height: 45rem;
}

.border_cls {
    border-right: 1px solid lightgrey;
    height: 95%;
    margin-left: 5rem;
}

.card-shadow {
    box-shadow: none;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: none;
    /* border: 1px solid lightgrey; */
    border-radius: 2px;
}


/* --------End Main Div class-------- */


/* --------Hide Scrolling-------- */

.pd_cls {
    overflow-y: scroll;
}

.pd_cls::-webkit-scrollbar {
    display: none;
}


/* --------End Hide Scrolling-------- */


/* --------Duplicate Record-------- */

.cls_dupli {
    width: 100%;
    height: 100%;
}

.slide a {
    font-size: 15px;
    font-weight: 500;
}

.count {
    float: right;
    background-color: lightgray;
    padding: 0px 4px;
    font-size: 13px;
    font-weight: 1000;
    border-radius: 0.25rem;
}

.title_cls {
    font-family: "Francois One", sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    color: grey;
    margin: 0 0 0.8rem 0;
    text-align: center;
    display: contents;
}


/* --------End Duplicate Record-------- */


/* --------For Card slide-------- */

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15%;
}

.wrapper:hover {
    box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}

.card h3 {
    display: contents;
}

.salutationDiv,
.fnameDiv,
.lnameDiv,
.companydiv,
.emailDiv,
.mobileDiv,
.phoneDiv,
.leadSourceDiv{
    margin-top: -2%;
}

.dupl_cls {
    /* position: absolute; */
    z-index: 3;
    background: white;
    width: 100%;
}

.card-list {
    border-radius: 4px;
}

.cards>.card {
    border-radius: 4px;
    padding: 7px 14px;
    border: 1px solid grey;
    margin-bottom: 16px;
    background: white;
}

.cards>.-ochre {
    border-left: 5px solid #F69A00;
}

.email_cls {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: grey;
    padding-top: 2%;
}

.slide {
    position: absolute;
    right: -100%;
    width: 100%;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}


/* --------End Card slide-------- */


/* --------No Record Found-------- */

.empty-state__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-state__content .empty-state__message {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.85rem;
}


/* --------End No Record Found-------- */


/* --------New Button Style-------- */

/* [class^=btn-] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40px;
    max-width: 100px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid rgba(3, 45, 96, 1);
}

.btn-0 {
    color: white;
    background-color: rgba(3, 45, 96, 0.8);
    z-index: 1;
    line-height: 37px;
    text-align: center;
} */

.form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 1rem;
}

.save-button, .clear-button{
    width: 30%;
}

/* .btn-0:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(3, 45, 96, 1);
    transform: translateX(-100%);
} */
/* 
.btn-0:hover {
    color: white;
}

.btn-0:hover:before {
    transform: translateX(0);
}

.btn-0:before {
    transition: 0.3s ease-in-out;
} */

/* *:before,
*:after {
    z-index: -1;
} */


/* --------End New Button-------- */


/* --------Spinner-------- */

.spinner_Cls {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 350px;
}


/* --------Spinner End-------- */

.cimage{
    height: 150px;
}

/* mobile responsive */


@media only screen and (min-width:768px){

    .pd_cls {
        height: 100%;
        /* overflow-y: scroll; */
    }
}


@media only screen and (max-width:767px){

    .border_cls{
        /* border-right: 1px solid lightgrey; */
        border: none;
        height: 100%;
        /* margin-left: 1rem; */
        width: 100%;
        margin-left: 0;
    }
    
    .card-shadow{
        box-shadow: none;
        border: none;
    }

    .wrap{
        height: 20%;
    }

    .maindiv{
        margin-left: 0% !important;
        height: 225vh !important;
        /* overflow-y: scroll; */
        background: white;
    }

    .dupl_cls{
        width: 82vw !important;
        margin-top: 1rem !important;
        background: white;
        /* position: sticky; */
        top: 0;
    }
    .wrap{
        height: 15%;
    }

    .customTab{
        margin-top: 0% !important;
    }

    .empty-state{
        margin-top: 40px;
        /* background: white; */
    }

    .empty-state__content{
        margin-top: 1rem !important;
    }

    .slide {
        position: relative;
    }

    .cls_dupli{
        /* width: 100% !important;
        height: 85% !important; */
        /* margin-top: 2rem !important; */
        overflow-y: scroll;
        position: absolute;
        display: list-item;
        width: 82vw !important;
        background-color: white !important;
        margin-top : 4rem !important;
    }

    .duplicateCart{
        margin-top: 60px !important;
        background-color: white;
        padding: 0% I !important;
        /* overflow-y: scroll; */
    }

    .dubrecorddiv{
        /* padding-top: 23% !important; */
        height: 70% !important;
        padding-top: 7% !important;
        overflow-y: scroll !;
        /* width: 80vw !important; */

    }

    @media only screen and (max-width:767px){

        .maindiv{
            height: 200vh;
        }
        .wrap{
            height: 20%;
        }
        .cls_dupli{
            overflow-y: scroll;
            position: absolute;
            display: list-item;
            width: 82vw !important;
            background-color: white !important;
            margin-top : 2rem !important;
        }

    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card-shadow-t{
        box-shadow: none;
        border: none;
    }
    .border-cls-t{
        border-right: none;
        margin-left: 0rem;
    }
    .maindiv-t{
        height: 100vh;
        margin-left: 0rem;
    }
    .wrap{
        height: 15%;
    }
    .cart-t{
        width: 50%;
    }
    .dupl_cls-t{
        /* width:45% */
    }
    .empty-state-t{
        height: 90%;
        padding-bottom: 10rem;
    }
    .dubrecorddiv
    {
        padding-top: 12%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .card-shadow-t{
        box-shadow: none;
        border: none;
    }
    .wrap{
        height: 15%;
    }
    .border-cls-t{
        border-right: none;
        margin-left: 0rem;
    }
    .maindiv-t{
        height: 105vh;
        margin-left: 0rem;
    }
    .cart-t{
        width: 50%;
    }
    .dupl_cls-t{
        margin-left: 0rem;
        width: 100%;
    }
    .empty-state-t{
        height: 90%;
        padding-bottom: 10rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape){
    .maindiv{
        height: 125vh;
        background-color: white;
    }
    .dupl_cls-t{
        width:100%;
    }
}