/* .mainDiv{
    max-height: 70%;
} */

.container {
    display: flex;
}

.Matching{
    margin-bottom: 5%;
}

.column {
    flex: 1;
    height: fit-content;
    height:30rem;
    width:45rem
    /* overflow-y: scroll;
    height: 20%; */
}

.button_expand{
    margin-left: 3%;
    margin-right: 2%;
}

.column2{
    height: fit-content;
    width: 101%;
}

.btn1{
    margin-right: 1%;
    margin-top: 1%;
}

.btn2{
    margin-right: 1%;
    margin-top: 1%;
}

.btn3{
    margin-top: 1%;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.buttonSection1{
    margin-left: 10px;
    margin-top: 5%;
}

.lastButtons{
    margin-left: 60%;
}

.radio{
    display: flex;
}

.button5{
    margin-bottom: 2%;
}

.table{
    height: 61%;;
}

.pagination{
    margin-top: 2%;
}

.showme{
    margin-top: 5%;
}

.hepltxt{
    display: flex;
}

.containermodal {
    display: flex;
    align-items: center;
}

.icon-container {
    margin-right: 5px;
}

.combobox-container {
    width: 200px;
    margin-left: 1%;
    margin-bottom: 2%;
}

.combo-box {
    width: 150%;
}

.maincontact{
    margin-top: 1%;
    margin-bottom: 0.5%;
    margin-left: 5%;
}

.icon{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.5%;
}

.criteria-row {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
}

.icon-field {
    flex-shrink: 0;
}

.selected-field {
    margin-left: 6%;
    font-size: larger;
    padding-top: 6px;
    text-wrap: wrap;
}

.criteria-combobox{
    margin-bottom: 3%;
    margin-left: 66%;
    position: absolute;
    vertical-align: middle;
}

.newFieldSelect{
    display: flex;
}

.popupTxt{
    font-size: small;
    margin-left: 2%
}

.btn{
    margin-top: 10%;
    margin-left: 45%;
}

.print{
    max-width: 80%;
    text-wrap: balance;
}

.delBtn{
    margin-left: 29%;
}

.advLogic{
    width: 75%;
}

.selected-criteria {
    margin-bottom: 5%;
}

.filter-space {
    margin-bottom: 1%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-wrap: anywhere;
    text-wrap: balance;
    padding-right: 15px;
    max-width: 100%;
}

.myconBtn{
    margin-left: 20px;
}

.box{
    padding: 2%;
    border: 1px solid grey;
    border-radius: 8px;
}
.box1{
    padding: 4%;
}
.box2{
    padding: 2%;
    border: 1px solid grey;
    border-radius: 8px;
}
.text1{
    text-align: center;
}
.text2{
    margin-left: 4%;
}
.Emailbtn{
    margin-left: 4.5%;
}

.search{
    margin-left: 2%;
    margin-top: 1%;
}

.list{
    margin-right: 2%;
}

.inputField{
    display: absolute;
    width: 50%;
    margin-top: 5%;
}

@media print{
    .container {
        display: block;
    }

    .column {
        flex: none;
        overflow: hidden;
        height: auto !important;
    }

    .pagination {
        display: none;
    }
    .slds-scrollable.column {
        width: 140% !important;
        height: 100% !important;
    }
}


/* tablet-landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 33rem;
    }

    .column2 {
        width: 33rem;
        margin-top: 20px;
    }

    .criteria-combobox{
        /* width: 10%; */
        padding-bottom: 3.5%;

    }

    .criteria-row{
        align-items: center;
    }

    .selected-field{
        font-size: small;
    }
}

/* tablet-portrait */
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .column2 {
        width: 100%;
        margin-top: 20px;
    }

    .criteria-combobox {
        /* width: 100%; */
        width: 30%;
        padding-bottom: 3.5%;
        margin-left: 55%;
    }

    .criteria-row {
        align-items: center;
    }

    .filter-space {
        margin-bottom: 1%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding-right: 15px; */
        max-width: 80%;
    }

    .popup {
        width: 90%;
    }

    .selected-field {
        font-size: small;
    }
}

/* mobile view */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }

    .column2 {
        width: 100%;
        margin-top: 20px;
    }

    .combo-box {
        width: 100%;
    }

    .criteria-combobox {
        width: 29%;
        padding-bottom: 3.5%;
        margin-left: 50%;
    }

    .Modsec{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    .filter-space {
        margin-bottom: 1%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        max-width: 100%;
    }

    .criteria-row {
        align-items: center;
    }

    /* .popup {
        width: 90%;
    } */

    .selected-field {
        font-size: small;
        overflow-wrap: break-word;
        overflow-wrap: anywhere;
    }
}

/* Iphone view */
@supports (-webkit-touch-callout: none){
    @media only screen and (max-width: 768px) and (orientation: portrait) {
        .column {
            width: 100%;
        }
    
        .column2 {
            width: 100%;
            margin-top: 20px;
        }
    
        .combo-box {
            width: 100%;
        }
    
        .criteria-combobox {
            width: 29%;
            padding-bottom: 3.5%;
            margin-left: 50%;
        }
    
        .filter-space {
            margin-bottom: 1%; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 15px;
            max-width: 100%;
        }
    
        .criteria-row {
            align-items: center;
        }
    
        /* .popup {
            width: 90%;
        } */
    
        .slds-backdrop_open{
            align-items: center;
            text-align: center;
            z-index: 100;
        }

        .slds-fade-in-open{
            z-index: 101;
            align-items: center;
        }

        .Modsec{
            position: fixed;
        }

        .buttonmod{
            z-index: -1;
        }

        .selected-field {
            font-size: xx-small;
            overflow-wrap: break-word;
            overflow-wrap: anywhere;
        }
    }
}